
.body{
    margin:0%;
    padding: 0%;
}

.meow{
    background-color: black;
    width: 100%;
    height: 100px;
    margin: 0px 0px -1px;
}

.meow1{
    background-color: red;
    width: 100%;
    height: 100px;
    margin: 0px 0px -1px;
}

.meow2{
    background-color: yellow;
    width: 100%;
    height: 100px;
    margin: 0px 0px -1px;
}

.meow3{
    background-color: blue;
    width: 100%;
    height: 100px;
    margin: 0px 0px -1px;
}

.meow4{
    background-color: grey;
    width: 100%;
    height: 100px;
    margin: 0px 0px -1px;
}

.meow5{
    background-color: green;
    width: 100%;
    height: 100px;
    margin: 0px 0px -1px;
}

.meow5{
    background-color: orange;
    width: 100%;
    height: 100px;
    margin: 0px 0px -1px;
}

.meow6{
    background-color: brown;
    width: 100%;
    height: 100px;
    margin: 0px 0px -1px;
}

.meow7{
    background-color: seagreen;
    width: 100%;
    height: 100px;
    margin: 0px 0px -1px;
}